#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action = 'ignore')

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator

#### Importing the Dataset

In [2]:
dataset = pd.read_csv('Titanic.csv',usecols=['Age','Fare','Survived'])
dataset.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [3]:
x = dataset.drop(columns=['Survived'])
y = dataset['Survived']

In [4]:
dataset.isnull().mean() * 100

Survived     0.00000
Age         19.86532
Fare         0.00000
dtype: float64

#### Splitting the data into train and test data

In [5]:
x_train, x_test, y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=7)

#### Imputing missing values using Missing Indicator Imputation

In [6]:
imputer = MissingIndicator()
imputer.fit(x_train)

MissingIndicator()

In [7]:
x_train_missing = imputer.transform(x_train)
x_test_missing = imputer.transform(x_test)

In [8]:
x_train.head()

      Age     Fare
205   2.0  10.4625
718   NaN  15.5000
835  39.0  83.1583
851  74.0   7.7750
773   NaN   7.2250

#### Checking data after Imputation

In [9]:
x_train['Age_Missing'] = x_train_missing
x_test['Age_Missing'] = x_test_missing

In [11]:
x_train.head()

      Age     Fare  Age_Missing
205   2.0  10.4625        False
718   NaN  15.5000         True
835  39.0  83.1583        False
851  74.0   7.7750        False
773   NaN   7.2250         True

In [ ]:
# After this import SimpleImputer() and carry on tg