#### Importing the Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import warnings
warnings.filterwarnings(action = 'ignore')

#### Importing the Dataset

In [2]:
customer = pd.read_csv('customer.csv')
customer.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
customer = customer.iloc[:,2:]
customer.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

#### Splitting the data into train and test data

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(customer.iloc[:,0:2], customer.iloc[:,-1], random_state = 21, test_size = 0.2)

#### Using Ordinal Encoder to encode categorical values present in the data

In [5]:
#We will use Ordinal Encoder only on categorical values with ordinal data i.e where comparison can be made between the variables
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder(categories = [['Poor', 'Good', 'Average'], ['School', 'UG', 'PG']])

x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [6]:
x_train

array([[2., 1.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [0., 1.],
       [1., 2.],
       [1., 0.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [1., 2.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [2., 1.],
       [0., 1.],
       [1., 1.]])

#### Using Label Encoder to encode categorical dependent values present in the data

In [7]:
#We will use Label Encoder only on dependent variable column or the column that holds the result of the dataset.
from sklearn.preprocessing import LabelEncoder

encoder2 = LabelEncoder()

y_train = encoder2.fit_transform(y_train)
y_test = encoder2.transform(y_test)

In [8]:
y_train

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1])